h1 {
    color: purple;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
}

h2 {
    background-color: coral;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
}

h2 {
    background-color: black;
}

li {
    background-color: red;
    color: white;
    font-family: sans-serif;
}

p {
    font-size: 22px;
}

img {
    max-width: 300px;
}