img {
    max-width: 500px;
}

.imageContainer {
    position: relative;
}

.imageContainer .imageCaption {
    position: absolute;
    margin: 0;
    background: white;
    border: 1px solid black;
    top: 10px;
    left: 10px;
    padding: 10px;
    z-index: 50;
}

.imageContainer .imageCaptionSecond {
    position: absolute;
    margin: 0;
    background: white;
    border: 1px solid black;
    top: 10px;
    left: 10px;
    padding: 10px;
    z-index: 10;
}